.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: rgb(240, 242, 245);
  padding: 20px;
  box-sizing: border-box;
}
